@page
@model AbbyWeb.Pages.NewPageModel
@{
    ViewData["Title"] = "New Page";
}

<h1>@ViewData["Title"]</h1>

<p>This is a new page.</p>

<div class="container mt-3">
    <img class="rounded" src="img/Valentin_2017.jpg" alt="Ma tronche" width="500"/>
</div>